/*
 *  PTTR
 *
 *  Lightweight pattern guide skeleton
 */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* Config */
#PTTR .pttr-btn, #PTTR .pttr-section-header h1, #PTTR .pttr-section-header h2, #PTTR .pttr-section-header h3, #PTTR .pttr-swatches {
  font-family: "Droid Sans", sans-serif;
  color: #353535; }

#PTTR .pttr-header .pttr-menu-toggle, #PTTR .pttr-nav a {
  font-family: "Droid Sans", sans-serif;
  text-decoration: none;
  color: white; }
  #PTTR .pttr-header .pttr-menu-toggle:hover, #PTTR .pttr-nav a:hover {
    border-color: skyblue;
    color: skyblue; }

*[class^='pttr-'] {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#PTTR .pttr-btn {
  padding: 8px 10px;
  border: 2px solid;
  border-radius: 4px;
  background: none;
  text-align: center;
  text-decoration: none; }

#PTTR {
  margin: 0;
  padding: 0; }
  #PTTR .pttr-container {
    margin: 0 auto;
    padding: 0 20px; }
  #PTTR .pttr-header {
    display: block;
    margin-bottom: 40px;
    padding: 20px 0;
    position: relative;
    background: #1a1f26;
    background: linear-gradient(135deg, #1a1f26 22px, #1e242c 22px, #1e242c 24px, transparent 24px, transparent 67px, #1e242c 67px, #1e242c 69px, transparent 69px), linear-gradient(225deg, #1a1f26 22px, #1e242c 22px, #1e242c 24px, transparent 24px, transparent 67px, #1e242c 67px, #1e242c 69px, transparent 69px) 0 64px;
    background-color: #1a1f26;
    background-size: 64px 128px; }
    #PTTR .pttr-header h1 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: normal; }
    #PTTR .pttr-header .pttr-menu-toggle {
      display: block;
      width: 60%;
      margin: 0 auto;
      border-bottom-width: 4px;
      border-color: white;
      color: white; }
  #PTTR .pttr-nav {
    display: none; }
    #PTTR .pttr-nav a {
      display: block;
      padding: 0 20px;
      font-size: 22px;
      line-height: 3em; }
    #PTTR .pttr-nav a.is-active {
      background: white;
      color: #1a1f26; }
  #PTTR .pttr-section-header {
    margin-bottom: 40px; }
    #PTTR .pttr-section-header h2 {
      display: inline-block;
      margin: 0;
      padding-bottom: 4px;
      border-bottom: 6px solid #dddddd;
      font-size: 32px; }
  #PTTR .pttr-section-code {
    max-height: 300px;
    border: 1px solid #ddd;
    border-bottom-width: 4px;
    border-radius: 4px;
    white-space: pre-wrap; }
  #PTTR .pttr-rule {
    margin: 40px 0;
    height: 0;
    border: 0;
    border-bottom: 1px solid #dddddd; }
  #PTTR .pttr-swatches {
    margin-bottom: 20px; }
    #PTTR .pttr-swatches .pttr-swatch {
      display: inline-block;
      margin-right: 10px;
      width: 80px;
      list-style: none;
      text-align: center; }
      #PTTR .pttr-swatches .pttr-swatch:last-of-type {
        margin-right: 0; }
    #PTTR .pttr-swatches .pttr-color {
      display: block;
      height: 60px;
      margin-bottom: 10px;
      padding: 4px;
      border: 2px solid white;
      outline: 1px solid #dddddd;
      line-height: 60px; }
    #PTTR .pttr-swatches .pttr-color-name {
      font-size: 14px; }
  #PTTR .pttr-note {
    font-family: "Droid Sans", sans-serif; }

@media (min-width: 620px) {
  #PTTR {
    display: table-row;
    height: 100%; }
    #PTTR .pttr-header,
    #PTTR .pttr-main {
      display: table-cell; }
    #PTTR .pttr-header .pttr-container {
      width: 220px;
      padding: 0; }
    #PTTR .pttr-header .pttr-menu-toggle {
      margin: 0 auto 40px;
      font-size: 22px; }
    #PTTR .pttr-header .pttr-nav {
      display: block; }
    #PTTR .pttr-main {
      padding-left: 40px; } }
