/*
 *  PTTR
 *
 *  Lightweight pattern guide skeleton
 */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* Config */
$pttr-font: 'Droid Sans',sans-serif;

$pttr-color: #1A1F26;
$pttr-color-light: lighten($pttr-color, 2%);
$pttr-gray: #ddd;

$pttr-font-color: #353535;

$space: 20px;
$pttr-border-radius: 4px;

%pttr-font {
  font-family: $pttr-font;
  color: $pttr-font-color;
}

%pttr-header-link {
  font-family: $pttr-font;
  text-decoration: none;
  color: white;

  &:hover {
    border-color: skyblue;
    color: skyblue;
  }
}

@mixin bottom-space {
  margin-bottom: $space;
}

// reset everything
*[class^='pttr-'] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#PTTR { // commons
  .pttr-btn {
    @extend %pttr-font;
    padding: 8px 10px;
    
    border: 2px solid;
    border-radius: $pttr-border-radius;
    background: none;

    text-align: center;
    text-decoration: none;
  }
}

#PTTR { // main styles
  margin: 0;
  padding: 0;

  .pttr-container {
    margin: 0 auto;
    padding: 0 $space;
  }

  .pttr-section-header {
    h1, h2, h3 {
      @extend %pttr-font;
    }
  }

  .pttr-header {
    display: block;
    margin-bottom: $space*2;
    padding: $space 0;
    position: relative;
    background: $pttr-color;
    background: 
      linear-gradient(135deg, $pttr-color 22px, $pttr-color-light 22px, $pttr-color-light 24px, transparent 24px, transparent 67px, $pttr-color-light 67px, $pttr-color-light 69px, transparent 69px),
      linear-gradient(225deg, $pttr-color 22px, $pttr-color-light 22px, $pttr-color-light 24px, transparent 24px, transparent 67px, $pttr-color-light 67px, $pttr-color-light 69px, transparent 69px)0 64px;
      background-color: $pttr-color;
      background-size: 64px 128px;

    h1 {
      margin: 0;
      padding: 0;

      font-size: 24px;
      font-weight: normal;
    }

    .pttr-menu-toggle { // "brand"
      @extend %pttr-header-link;

      display: block;
      width: 60%;
      margin: 0 auto;
      border-bottom-width: 4px;
      border-color: white;
      color: white;
    }
  }

  .pttr-nav {
    display: none;

    a {
      @extend %pttr-header-link;
      display: block;
      padding: 0 20px;
      font-size: 22px;
      line-height: 3em;
    }

    a.is-active {
      background: white;

      color: $pttr-color;
    }
  }

  .pttr-section-header {
    margin-bottom: $space*2;

    h2 {
      display: inline-block;
      margin: 0;
      padding-bottom: 4px;
      border-bottom: 6px solid $pttr-gray;
      font-size: 32px;
    }
  }

  .pttr-section-code {
    max-height: 300px;
    border: 1px solid #ddd;
    border-bottom-width: 4px;
    border-radius: $pttr-border-radius;
    white-space: pre-wrap;
  }

  .pttr-rule {
    margin: $space*2 0;
    height: 0;
    border: 0;
    border-bottom: 1px solid $pttr-gray;
  }

  // Staging components
  .pttr-swatches {
    @extend %pttr-font;
    @include bottom-space;

    .pttr-swatch {
      display: inline-block;
      margin-right: $space/2;
      width: $space*4;

      list-style: none;
      text-align: center;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .pttr-color {
      display: block;
      height: $space*3;
      margin-bottom: $space/2;
      padding: 4px;

      border: 2px solid white;
      outline: 1px solid $pttr-gray;

      line-height: 60px;
    }

    .pttr-color-name {
      font-size: 14px;
    }
  }

  .pttr-note {
    font-family: $pttr-font;
  }
}

@media (min-width: 620px) {
  #PTTR {
    display: table-row;
    height: 100%;

    .pttr-header,
    .pttr-main {
      display: table-cell;
    }

    .pttr-header { 
      .pttr-container {
        width: 220px;
        padding: 0;
      }

      .pttr-menu-toggle {
        margin: 0 auto $space*2;
        font-size: 22px;
      }

      .pttr-nav {
        display: block;
      }
    }

    .pttr-main {
      padding-left: $space*2;
    }
  }
}